@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}
.sign_up
{
      padding-left: 226px;
    text-align: left;
}

th,td
{
  border:1px solid black;
}

table
{
   background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    width: 636px;
}


h1 {
    font-size: 38.5px;    
    text-align: center;
}