
<% page_title = "Demonstration of ERb" %>
<% salutation = "Kurt," %>
<html>
<head>
<title><%= page_title %></title>
</head>
<body>
<p>This is an example of how ERb fills out a template.</p>
<p>Hello <%= salutation %></p>
</body>
</html>
